/* .wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
} */


.block {
    height: 50px;
    width: 50px;
    /* background-color: #000; */
}

.printAnswer {
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
}

